@model StringModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ViewModel Fun</h1>
    <p>Use the navigation bar to view different pages.</p>
</div>
<div class="text-center">
    <h3>Or you can read some Game Of Thrones lorem ipsum below...</h3>
    <p>@Model.Filler</p>
</div>